//本系统的玻璃样式mixin
.glass-base(@color, @alpha: 15%,@blur: 10px) {
  backdrop-filter: blur(@blur);
  background: color-mix(in srgb, @color @alpha, transparent);
}
//与系统适配的scroller样式
.theme-scroller() {
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: color-mix(in srgb, var(--divider) 55%, transparent);
    border-radius: 8px;
    border: 2px solid transparent; // 留 breathing space
    background-clip: padding-box;
    transition: background 0.2s ease;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: color-mix(in srgb, var(--color-primary) 35%, transparent);
  }
  scrollbar-width: thin;
  scrollbar-color: color-mix(in srgb, var(--divider) 60%, transparent) transparent;
  &:hover {
    &::-webkit-scrollbar-thumb {
      background: color-mix(in srgb, var(--divider) 75%, transparent);
    }
  }
}
